{% extends "home_layout.html" %}
{% load staticfiles %}
{% block home_content %}
	<link rel="stylesheet" href="{% static 'home/css/conversation_style.css' %}">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<ul class="chat">
						</ul>
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-xs-3">
								<button class="btn btn-warning btn-lg" id="btn-reset">Réinitialiser</button>
							</div>
							<div class="col-xs-9">
								<input id="text-input" type="text" class="form-control input-lg" placeholder="Entrez votre message" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript_child %}

	<script>
		var initConversation ="{% url 'conversation:init_conversation' %}";
		var converseView ="{% url 'conversation:converse' %}";
	</script>
	<script>
	function formatAMPM(date) {
		var hours = date.getHours();
		var minutes = date.getMinutes();
		var ampm = hours >= 12 ? 'PM' : 'AM';
		hours = hours % 12;
		hours = hours ? hours : 12; // the hour '0' should be '12'
		minutes = minutes < 10 ? '0'+minutes : minutes;
		var strTime = hours + ':' + minutes + ' ' + ampm;
		return strTime;
	}
	</script>
	<script type="text/javascript">
		var you = {};
		you.avatar = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToWk3ya6-gc9aWP7RUXg84RnyNa7jKX2hd07uj6set6Bx9C22g";
		function initChat(){
			var chatbotMessage = "";
			var date = formatAMPM(new Date());
	        $.ajax({
	            type: "GET",
	            url:  initConversation,
	            success: function(json) {
					chatbotMessage =   '<li class="left clearfix">' +
											'<div class="avatar">' +
												'<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToWk3ya6-gc9aWP7RUXg84RnyNa7jKX2hd07uj6set6Bx9C22g" alt="User Avatar" class="img-circle" style="width:100%;"/>' +
											'</div>' +
											'</span>' +
											'<div class="chat-body clearfix">' +
												'<div class="header">' +
													'<strong class="primary-font">Ryan</strong> <small class="pull-right text-muted">' +
													'<span class="glyphicon glyphicon-time"></span>' + date + '</small>' +
												'</div>' +
												'<p>' +
													json['text'] +
												'</p>' +
											'</div>' +
										'</li>'
					$(".chat").append(chatbotMessage);
	            }
	        });
		}

		function converse(text){
			var date = formatAMPM(new Date());
			var chatbotMessage = ""
			var humanMessage = ""
			humanMessage = 	'<li class="right clearfix">' +
								'<div class="chat-body clearfix">' +
									'<div class="header">' +
										'<small class="text-muted" style="text-align:left;"><span class="glyphicon glyphicon-time"></span>' + date + '</small>' +
										'<strong class="pull-right primary-font">Vous</strong>' +
									'</div>' +
									'<p class="pull-right" style="text-align:right;">' +
										text +
									'</p>' +
								'</div>' +
							'</li>'

			$(".chat").append(humanMessage);
			$.ajax({
	            type: "POST",
	            url:  converseView,
				data: {'text': text},
	            success: function(json) {
					chatbotMessage ='<li class="left clearfix">' +
										'<div class="avatar">' +
											'<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToWk3ya6-gc9aWP7RUXg84RnyNa7jKX2hd07uj6set6Bx9C22g" alt="User Avatar" class="img-circle" style="width:100%;"/>' +
										'</div>' +
										'</span>' +
										'<div class="chat-body clearfix">' +
											'<div class="header">' +
												'<strong class="primary-font">Ryan</strong> <small class="pull-right text-muted">' +
												'<span class="glyphicon glyphicon-time"></span>' + date + '</small>' +
											'</div>' +
											'<p>' +
												json['text'] +
											'</p>' +
										'</div>' +
									'</li>'
					$(".chat").append(chatbotMessage);
					if(json['final_message']){
						final_message = '<li class="left clearfix">' +
											'<div class="avatar">' +
												'<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToWk3ya6-gc9aWP7RUXg84RnyNa7jKX2hd07uj6set6Bx9C22g" alt="User Avatar" class="img-circle" style="width:100%;"/>' +
											'</div>' +
											'</span>' +
											'<div class="chat-body clearfix">' +
												'<div class="header">' +
													'<strong class="primary-font">Ryan</strong> <small class="pull-right text-muted">' +
													'<span class="glyphicon glyphicon-time"></span>' + date + '</small>' +
												'</div>' +
												'<p>' +
													'Notre conversation est terminée, veuillez appuyez sur le bouton Réinitialiser si vous souhaitez rediscuter avec moi' +
												'</p>' +
											'</div>' +
										'</li>'
						$(".chat").append(final_message);
					}
	            }
	        });
		}

		function resetChat(){
			$(".chat").empty();
			initChat()
		}

		$("#text-input").on("keyup", function(e){
			if (e.which == 13){
				var text = $(this).val();
				if (text !== ""){
					converse(text);
					$(this).val('');
				}
			}
		});
		$( "#btn-reset" ).click(function() {
		  	resetChat();
		});

		initChat()

	</script>
{% endblock %}
