{% extends "home_layout.html" %}
{% load staticfiles %}
{% block home_content %}
	<link rel="stylesheet" href="{% static 'home/css/conversation_style.css' %}">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<ul class="chat">
						</ul>
					</div>
					<div class="panel-footer">
						<input id="text-input" type="text" class="form-control input-lg" placeholder="Entrez votre message" />
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript_child %}

	<script>
		var initConversation ="{% url 'conversation:init_conversation' %}";
		var converseView ="{% url 'conversation:converse' %}";
	</script>
	<script>
	function formatAMPM(date) {
		var hours = date.getHours();
		var minutes = date.getMinutes();
		var ampm = hours >= 12 ? 'PM' : 'AM';
		hours = hours % 12;
		hours = hours ? hours : 12; // the hour '0' should be '12'
		minutes = minutes < 10 ? '0'+minutes : minutes;
		var strTime = hours + ':' + minutes + ' ' + ampm;
		return strTime;
	}
	</script>
	<script type="text/javascript">
		var you = {};
		you.avatar = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToWk3ya6-gc9aWP7RUXg84RnyNa7jKX2hd07uj6set6Bx9C22g";
		function initChat(){
			var chatbotMessage = "";
			var date = formatAMPM(new Date());
	        $.ajax({
	            type: "GET",
	            url:  initConversation,
	            success: function(json) {
					chatbotMessage =   '<li class="left clearfix">' +
											'<div class="avatar">' +
												'<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToWk3ya6-gc9aWP7RUXg84RnyNa7jKX2hd07uj6set6Bx9C22g" alt="User Avatar" class="img-circle" style="width:100%;"/>' +
											'</div>' +
											'</span>' +
											'<div class="chat-body clearfix">' +
												'<div class="header">' +
													'<strong class="primary-font">Ryan</strong> <small class="pull-right text-muted">' +
													'<span class="glyphicon glyphicon-time"></span>' + date + '</small>' +
												'</div>' +
												'<p>' +
													json['text'] +
												'</p>' +
											'</div>' +
										'</li>'
					$(".chat").append(chatbotMessage);
	            }
	        });
		}

		function converse(text){
			var date = formatAMPM(new Date());
			var chatbotMessage = ""
			var humanMessage = ""
			humanMessage = 	'<li class="right clearfix">' +
								'<div class="chat-body clearfix">' +
									'<div class="header">' +
										'<small class="text-muted" style="text-align:left;"><span class="glyphicon glyphicon-time"></span>' + date + '</small>' +
										'<strong class="pull-right primary-font">Vous</strong>' +
									'</div>' +
									'<p class="pull-right" style="text-align:right;">' +
										text +
									'</p>' +
								'</div>' +
							'</li>'

			$(".chat").append(humanMessage);
			$.ajax({
	            type: "POST",
	            url:  converseView,
				data: {'text': text},
	            success: function(json) {
					chatbotMessage ='<li class="left clearfix">' +
										'<div class="avatar">' +
											'<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToWk3ya6-gc9aWP7RUXg84RnyNa7jKX2hd07uj6set6Bx9C22g" alt="User Avatar" class="img-circle" style="width:100%;"/>' +
										'</div>' +
										'</span>' +
										'<div class="chat-body clearfix">' +
											'<div class="header">' +
												'<strong class="primary-font">Ryan</strong> <small class="pull-right text-muted">' +
												'<span class="glyphicon glyphicon-time"></span>' + date + '</small>' +
											'</div>' +
											'<p>' +
												json['text'] +
											'</p>' +
										'</div>' +
									'</li>'
					$(".chat").append(chatbotMessage);
	            }
	        });
		}
		$("#text-input").on("keyup", function(e){
			if (e.which == 13){
				var text = $(this).val();
				if (text !== ""){
					converse(text);
					$(this).val('');
				}
			}
		});
	/*var me = {};
		me.avatar = "https://lh6.googleusercontent.com/-lr2nyjhhjXw/AAAAAAAAAAI/AAAAAAAARmE/MdtfUmC0M4s/photo.jpg?sz=48";

		var you = {};
		you.avatar = "https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg";

		function formatAMPM(date) {
		var hours = date.getHours();
		var minutes = date.getMinutes();
		var ampm = hours >= 12 ? 'PM' : 'AM';
		hours = hours % 12;
		hours = hours ? hours : 12; // the hour '0' should be '12'
		minutes = minutes < 10 ? '0'+minutes : minutes;
		var strTime = hours + ':' + minutes + ' ' + ampm;
		return strTime;
		}

		//-- No use time. It is a javaScript effect.
		function insertChat(who, text, time = 0){
		var control = "";
		var date = formatAMPM(new Date());

		if (who == "me"){

			control = '<li style="width:100%">' +
							'<div class="msj macro">' +
							'<div class="avatar"><img class="img-circle" style="width:100%;" src="'+ me.avatar +'" /></div>' +
								'<div class="text text-l">' +
									'<p>'+ text +'</p>' +
									'<p><small>'+date+'</small></p>' +
								'</div>' +
							'</div>' +
						'</li>';
		}else{
			control = '<li style="width:100%;">' +
							'<div class="msj-rta macro">' +
								'<div class="text text-r">' +
									'<p>'+text+'</p>' +
									'<p><small>'+date+'</small></p>' +
								'</div>' +
							'<div class="avatar" style="padding:0px 0px 0px 10px !important"><img class="img-circle" style="width:100%;" src="'+you.avatar+'" /></div>' +
					  '</li>';
		}
		setTimeout(
			function(){
				$("ul").append(control);

			}, time);

		}

		function resetChat(){
		$("ul").empty();
		}

		$(".mytext").on("keyup", function(e){
		if (e.which == 13){
			var text = $(this).val();
			if (text !== ""){
				insertChat("me", text);
				$(this).val('');
			}
		}
		});

		//-- Clear Chat
		resetChat();

		//-- Print Messages
		insertChat("me", "Hello Tom...", 0);
		insertChat("you", "Hi, Pablo", 1500);
		insertChat("me", "What would you like to talk about today?", 3500);
		insertChat("you", "Tell me a joke",7000);
		insertChat("me", "Spaceman: Computer! Computer! Do we bring battery?!", 9500);
		insertChat("you", "LOL", 12000);*/
		initChat()

		//-- NOTE: No use time on insertChat.
	</script>
{% endblock %}
