body {
    font-family:Arial;
    font-weight: 500;
    background-color: #BDBDBD;
}

.navbar{
    background-color: #070719;
}
.navbar-brand {
    font-size: 1.7em;
    font-weight: bold;
    color: #E0E0F8 !important;
}
